# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

accounts/usbwallet              @akashhalder3
accounts/scwallet               @akashhalder3
accounts/abi                    @akashhalder3 @akashhalder3
cmd/clef                        @akashhalder3
cmd/puppeth                     @akashhalder3
consensus                       @akashhalder3
core/                           @akashhalder3 @akashhalder3 @akashhalder3
eth/                            @akashhalder3 @akashhalder3 @akashhalder3
graphql/                        @akashhalder3
les/                            @akashhalder3 @akashhalder3
light/                          @akashhalder3 @akashhalder3
mobile/                         @akashhalder3 @akashhalder3
node/                           @akashhalder3 @akashhalder3
p2p/                            @akashhalder3 @akashhalder3
rpc/                            @akashhalder3 @akashhalder3
p2p/simulations                 @akashhalder3
p2p/protocols                   @akashhalder3
p2p/testing                     @akashhalder3
signer/                         @akashhalder3
